body {

    margin: 0 auto;
    padding: 0 auto;

}

.button {
    
    margin: 1.25em 1.5em;
    display: inline-block;
    font-family: helvetica;
    font-size: 1em;
    letter-spacing: 0.08em;
    color: white;
    cursor: pointer;
    
}

.archive {
    
    margin: 0 1.25em;
    
}

.swatch {
    
    height: 15em;
    width: 15em;
    margin: 0 1.25em 1.25em 0;
    display: inline-block;
    border: solid 2px white;
    
}

.hidden {
    
    display: none;
    
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) { 

    .swatch {
    
        height: 88vw;
        width: 88vw;
    
    }

}